/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define base_layer   0
#define lower_layer  1
#define navi_layer   2
#define adjust_layer 3
#define macro_layer  4

&mt { tapping-term-ms = <140>; };

&mmv { delay-ms = <200>; };

/ {
    behaviors {
        mo_tog: mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold for momentary and tap for toggle";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };

        hr_mt: hr_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "Home row hold tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;

            flavor = "tap-preferred";
        };
    };

    macros {
        CAD: CAD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LA(DEL))>;
            label = "CAD";
        };

        PW: PW {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(C) &kp E &kp N7 &kp POUND &kp N2 &kp N0 &kp A &kp N1 &kp N2 &kp N3 &kp N2 &kp N0 &kp NUMBER_2 &kp N0 &kp NUMBER_6>;
            label = "PW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";

            // ------------------------------------------------------------------------------------------------------------
            // |  `   |  1   |  2   |  3   |  4   |  5   |                |  6   |  7   |  8   |  9   |  0   |  -   |
            // | TAB  |  Q   |  W   |  E   |  R   |  T   |                |  Y   |  U   |  I   |  O   |  P   |  =   |
            // | CTRL |  A   |  S   |  D   |  F   |  G   |                |  H   |  J   |  K   |  L   |  ;   |  '   |
            // |SHIFT |  Z   |  X   |  C   |  V   |  B   | "["  |  | "]"  |  N   |  M   |  ,   |  .   |  /   |SHIFT |
            //                      | ALT  | GUI  |LOWER |SPACE |  |ENTER | NAVI | BSPC | DEL  |

            bindings = <
&none             &none  &none  &none  &none     &none                              &none        &none           &none               &none    &none     &none
&kp TAB           &kp Q  &kp W  &kp E  &kp R     &kp T                              &kp Y        &kp U           &kp I               &kp O    &kp P     &kp BSPC
&mt LCTRL ESCAPE  &kp A  &kp S  &kp D  &kp F     &kp G                              &kp H        &hr_mt RCTRL J  &hr_mt RIGHT_ALT K  &kp L    &kp SEMI  &kp SQT
&kp LSHFT         &kp Z  &kp X  &kp C  &kp V     &kp B        &none        &none    &kp N        &kp M           &kp COMMA           &kp DOT  &kp FSLH  &kp RSHFT
                                &none  &kp LALT  &mo_tog 2 1  &kp SPACE    &kp RET  &mo_tog 3 3  &kp LWIN        &none
            >;
        };

        navi_layer {
            display-name = "Navi";

            // ------------------------------------------------------------------------------------------------------------
            // |      |      |      |      |      |      |                |      | PREV | P/P  | NEXT | MUTE |      |
            // |      |      | WHL↑ |  M↑  |  M1  |      |                |      | PGUP |  ↑   | HOME |      |  \   |
            // |      |      |  M←  |  M↓  |  M→  |      |                |      |  ←   |  ↓   |  →   |      |      |
            // |      |      | WHL↓ |  M3  |  M2  |      |      |  |      |      | PGDN | INS  | END  |      |      |
            //                      |      |      | BASE |      |  |      | BASE |      |      |

            bindings = <
&trans     &trans  &trans          &trans          &trans           &trans                        &trans            &trans     &trans    &trans     &trans  &trans
&kp GRAVE  &trans  &msc SCRL_UP    &mmv MOVE_UP    &mkp MB1         &trans                        &trans            &kp PG_UP  &kp UP    &kp HOME   &trans  &kp DEL
&trans     &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp C_MUTE                    &kp C_PLAY_PAUSE  &kp LEFT   &kp DOWN  &kp RIGHT  &trans  &kp BSLH
&trans     &trans  &msc SCRL_DOWN  &mkp MB3        &mkp MB2         &kp C_PREV  &trans    &trans  &kp C_NEXT        &kp PG_DN  &kp INS   &kp END    &trans  &trans
                                   &trans          &trans           &to 0       &trans    &trans  &to 0             &trans     &trans
            >;
        };

        macro_layer {
            display-name = "Macro";

            // ------------------------------------------------------------------------------------------------------------
            // | CAPS |LC(F1)|      |      |LA(F4)|  F5  |                |  PW  | PREV | P/P  | NEXT | MUTE | CAD  |
            // |      |      | WHL↑ |  M↑  |  M1  |      |                |      | PGUP |  ↑   | HOME |      |  \   |
            // |      |      |  M←  |  M↓  |  M→  |      |                |      |  ←   |  ↓   |  →   |      |      |
            // |      |      | WHL↓ |  M3  |  M2  |      |      |  |      |      | PGDN | INS  | END  |      |      |
            //                      |      |      |      |      |  |      | ADJ  |      |      |

            bindings = <
&trans     &trans      &trans          &trans          &trans           &trans                        &trans            &trans     &trans    &trans     &trans  &trans
&kp GRAVE  &kp LC(F1)  &msc SCRL_UP    &mmv MOVE_UP    &mkp MB1         &kp LA(F4)                    &PW               &kp PG_UP  &kp UP    &kp HOME   &trans  &kp DEL
&trans     &kp CAPS    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp C_MUTE                    &kp C_PLAY_PAUSE  &kp LEFT   &kp DOWN  &kp RIGHT  &trans  &kp BSLH
&trans     &trans      &msc SCRL_DOWN  &mkp MB3        &mkp MB2         &kp C_PREV  &trans    &trans  &kp C_NEXT        &kp PG_DN  &kp INS   &kp END    &trans  &trans
                                       &trans          &trans           &trans      &trans    &trans  &to 4             &trans     &trans
            >;
        };

        num_layer {
            display-name = "Num";

            // ------------------------------------------------------------------------------------------------------------
            // |      |  F1  |  F2  |  F3  |  F4  |  F5  |                |  F6  |  F7  |  F8  |  F9  | F10  | F11  |
            // |      |      | WHL↑ |  M↑  |  M1  |      |                |      | PGUP |  ↑   | HOME |      | F12  |
            // |      |      |  M←  |  M↓  |  M→  |      |                |      |  ←   |  ↓   |  →   |      |      |
            // |      |      | WHL↓ |  M3  |  M2  |      |      |  |      |      | PGDN | INS  | END  |      |      |
            //                      |      |      | BASE |      |  |      | BASE |      |      |

            bindings = <
&trans     &trans    &trans    &trans     &trans     &trans                          &trans  &trans           &trans          &trans  &trans   &trans
&kp GRAVE  &kp F1    &kp F2    &kp F3     &kp F4     &kp F5                          &kp F6  &kp F7           &kp F8          &kp F9  &kp F10  &kp F11
&trans     &kp N1    &kp N2    &kp N3     &kp N4     &kp NUMBER_5                    &kp N6  &hr_mt RCTRL N7  &hr_mt RALT N8  &kp N9  &kp N0   &kp F12
&trans     &kp LBKT  &kp RBKT  &kp MINUS  &kp EQUAL  &trans        &trans    &trans  &trans  &trans           &trans          &trans  &trans   &trans
                               &trans     &trans     &to 0         &trans    &trans  &to 0   &trans           &trans
            >;
        };

        system_layer {
            display-name = "System";

            // ------------------------------------------------------------------------------------------------------------
            // |BT_CLR|BT_PRV|BT_NXT|      |      |      |                |UNLOCK|      |      |      |      |      |
            // |      |      |      |      |      |      |                |      |      |      |      |      |      |
            // |      |      |      |      |      |      |                |      |      |      |      |      |      |
            // |      |      |      |      |      |      |      |  |      |      |      |      |      |      |      |
            //                      |      |      | BASE |      |  |      | BASE |      |      |

            bindings = <
&bt BT_CLR  &bt BT_PRV  &bt BT_NXT  &none  &none  &none                  &studio_unlock  &none  &none  &none  &none  &none
&none       &none       &none       &none  &none  &none                  &none           &none  &none  &none  &none  &none
&none       &none       &none       &none  &none  &none                  &none           &none  &none  &none  &none  &none
&none       &none       &none       &none  &none  &none  &none    &none  &none           &none  &none  &none  &none  &none
                                    &none  &none  &to 0  &none    &none  &to 0           &none  &none
            >;
        };
    };
};
